<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript" src="/static/index.js"></script>
    <title>JM TUTOR CV</title> <!-- Add a title here -->
</head>
<body>
    <div class="resume-wrapper">
        <section class="profile section-padding">
            <div class="container">
                <div class="picture-resume-wrapper">
                    <div class="picture-resume">
                      <svg version="1.1" viewBox="0 0 350 350" width="100%" height="100%">
                        <defs>
                            <!-- Define a circular clip path -->
                            <clipPath id="circleClip">
                                <circle cx="175" cy="175" r="175" />
                            </clipPath>
                        </defs>
                    
                        <!-- Image with circular clip path -->
                        <image 
                            href="/static/image/Photoroom-20240603_012636.JPG" 
                            x="0" 
                            y="0" 
                            width="350" 
                            height="350" 
                            clip-path="url(#circleClip)" 
                            preserveAspectRatio="xMidYMid slice"/>
                    </svg>
                    
             
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="name-wrapper">
                    <h1>John Mhico<br/>Tutor</h1>
                </div>
                <div class="clearfix"></div>
                <div class="contact-info clearfix">
                    <ul class="list-titles">
                        <li>Call</li>
                        <li>Mail</li>
                        <li>Linkedin</li>
                        <li>Home</li>
                    </ul>
                    <ul class="list-content ">
                        <li>+639154147063</li>
                        <li>jm.fallzur@gmail.com</li> 
                        <li><a href="https://www.linkedin.com/in/john-mhico-tutor-000b81309/">Jm Tutor Linkedin</a></li> <!-- YOUR WEBSITE  -->
                        <li>Butuan City, Philippines</li> 
                    </ul>
                </div>
                <div class="contact-presentation"> <!-- YOUR PRESENTATION RESUME  -->
                    <p><span class="bold">Hi! I am John,</span> I'm driven by an unwavering passion for tackling challenges and a strong commitment to achieving the highest standards. I eagerly seek opportunities to apply what I've learned in real-world settings, constantly pushing myself to grow and develop. With a keen eye for quality, I'm enthusiastic about venturing into the dynamic field of technology, where I hope to contribute in meaningful ways and leave a lasting mark on the industry.</p>
                </div>
                <div class="contact-social clearfix">
                    <ul class="list-titles">
                        <li>Linkedin</li>
                        <li>Onlinejob.ph</li>
                        <li>Github</li>
                    </ul>
                    <ul class="list-content"> <!-- REMEMBER TO PUT THE URL ON THE HREF TAG  -->
                        <li><a href="https://www.linkedin.com/in/john-mhico-tutor-000b81309/">John Mhico Tutor</a></li> <!-- YOUR TWITTER USER  -->
                        <li><a href="https://www.onlinejobs.ph/jobseekers/info/3455197">John Mhico Tutor</a></li> <!-- YOUR DRIBBBLE USER  -->
                        <li><a href="https://github.com/Fallzr">Fallzur</a></li> <!-- YOUR BEHANCE USER  -->
                    </ul>
                </div>
            </div>
        </section>

        <section class="experience section-padding">
            <div class="container">
                <h3 class="experience-title">Experience</h3>
                <div class="experience-wrapper">
                    <div class="company-wrapper clearfix">
                        <div class="experience-title">Jishin Samgyeopsal & Bronx Cafe</div> <!-- NAME OF THE COMPANY YOU WORK WITH  -->
                        <div class="time">2019 – 2022</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
                    </div>
                    <div class="job-wrapper clearfix">
                        <div class="experience-title">Graphic Designer</div> <!-- JOB TITLE  -->
                        <div class="company-description">
                            <p>Graphic Design: Designed visually engaging content using Photoshop, Illustrator, Canva, and Figma.<br>
                              Video Editing: promotional videos with Capcut and Premiere Pro.<br>
                              Social Media Management: Managed social media for a small business, enhancing online presence and engagement.</p>  <!-- JOB DESCRIPTION  -->
                        </div>
                    </div>
                    <div class="company-wrapper clearfix">
                        <div class="experience-title">Office Of Civil Defense</div> <!-- NAME OF THE COMPANY YOU WORK WITH  -->
                        <div class="time">2024 January - May</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
                    </div>
                    <div class="job-wrapper clearfix">
                        <div class="experience-title">Web Developer (OJT)</div> <!-- JOB TITLE  -->
                        <div class="company-description">
                            <p>Developed a filemanagement system Tools:HTML, CSS, JS, and PHP.<br>
                              Managed allover development and database tasks.<br>
                              Contributed to functionality and design strategy improvements.</p>  <!-- JOB DESCRIPTION  -->
                        </div>
                    </div>
                    <div class="company-wrapper clearfix">
                        <div class="experience-title">Father Saturnino urios University</div> <!-- NAME OF THE COMPANY YOU WORK WITH  -->
                        <div class="time">2024</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
                    </div> 
                    <div class="job-wrapper clearfix">
                        <div class="experience-title">Application Developer - Thesis Project </div> <!-- JOB TITLE  -->
                        <div class="company-description">
                            <p>Developed Android applications using Android Studio <br>
                              Integrated various functionalities to enhance user experience<br>
                              Ride Hailing application Development</p>   <!-- JOB DESCRIPTION  -->
                        </div>
                    </div>
                </div><!--Skill experience-->
                
                <div class="section-wrapper clearfix">
                    <h3 class="section-title">Skills</h3>  <!-- YOUR SET OF SKILLS  -->
                    <ul>
                        <li class="skill-percentage">HTML / HTML5</li>
                        <li class="skill-percentage">CSS / CSS3 / SASS</li>
                        <li class="skill-percentage">Javascript</li>
                        <li class="skill-percentage">Python</li>
                        <li class="skill-percentage">Capcut / Premier Pro</li>
                        <li class="skill-percentage">Photoshop / Illustrator / Canva</li>
                        <li class="skill-percentage">Figma</li>
                    </ul>
                </div>
                
                <div class="section-wrapper clearfix">
                    <h3 class="section-title">Hobbies</h3>  <!-- DESCRIPTION OF YOUR HOBBIES -->
                    <p>Dogs, Music, Riding, Nature, Gaming, Coding, Eating</p>
                    <p>I find great joy in spending time with dogs, as their companionship not only brings happiness but also deepens my connection to nature. Additionally, my passion for music, gaming, and coding allows me to express my creativity, and I'm eager to further develop my coding skills to unlock new possibilities in these areas</p> 
                </div>
            </div>
        </section>
        
        <div class="clearfix"></div>
    </div>
</body>
</html>
